body {
    margin: 0;
    padding: 0;
    background: #EBEBEB;
    position: relative;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
}

/*
COLORS:
BLUE:   #214DE3
GREEN:  #1EE399
RED:    #E34B1E
*/

h1 {
    font-family: 'gilroyextrabold', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.8em;
    text-transform: uppercase;
    margin: 0;
}

h2, h3 {
    font-family: 'gilroyextrabold', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.125em;
}

span, p, a, .btn {
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.3125em;
    line-height: 1.7em;
}

.btn-signup {
    font-size: 1em;
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #222222;
    border: 2px solid #222222;
    padding: 5px 10px;
    height: 45px;
    width: 30%;
    background: transparent;
    position: relative;
    left: -2px;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
 }

@media only screen and (min-width: 700px) {
    .btn-signup {
        text-align: center;
    }
}

form button:hover {
    background: rgba(33, 77, 227, .3);
}

q {
    font-family: 'gilroyextrabold', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: .85em;
}

.profile-name {
    font-family: 'gilroyextrabold', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1em;
}

@keyframes fade-in {
    from { opacity: 0; transform: translateY(20px);}
    to { opacity: 1; transform: translateY(0);}
}

.fade-in-element {
    animation: fade-in 1.5s;
}

.hidden {
    opacity: 0;
}