header {
    height: 100vh;
    min-height: 500px;
    max-height: 700px;
    background-image: none;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    top: 0;
}

.desktop-header-shape {
    background-image: url("../../assets/img/desktop-header-shape.svg");
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100vh + 600px);
    width: 600px;
}

.mobile-navigation {
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    z-index: 10;
    /* background: linear-gradient(-180deg, #1EE399, #214DE3); */
    background: linear-gradient(-180deg, #E24B1D, #444CBD);
    /* background: #EBEBEB; */
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(100%);
    right: 0;
    padding: 100px 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    overflow: hidden;
}

.mobile-link {
    text-decoration: none;
    font-family: 'gilroyextrabold', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    color: white;
    opacity: 0;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.header-top {
    width: 100%;
    position: fixed;
    z-index: 30;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px 70px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -ms-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

.heading-information {
    position: relative;
    top: 25vh;
    padding: 0 70px;
    max-width: 1100px;
    margin: 0 auto;
}

p {
    font-size: 1em;
    line-height: 2em;
}

.heading-description {
    margin: 10px 0 20px;
    width: 40%;
}

section {
    padding: 100px 70px 0;
    max-width: 1100px;
    margin: 0 auto;
    height: 600px;
    position: relative;
}

section.what h2 {
    text-align: left;
    margin: 0;
}

section.what p {
    text-align: left;
    width: 45%;
}

@keyframes logo-what {
    0% {transform: scale(1);}
    10% {transform: scale(1.05);}
    100% {transform: scale(1);}
}

.what-right {
    position: absolute;
    right: 30px;
    top: 100px;
    -webkit-filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, .3));
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, .3));
    animation: 3s logo-what infinite;
}

.btn-team {
    margin: 20px auto 0;
}

section.team { position: relative; }
section.team h2 { text-align: center; }

.team-profiles {
    margin-top: 100px;
    display: flex;
    flex-flow: row nowrap;
}

.profile-card {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    align-content: space-between;
    align-items: center;
    min-height: 150px;
    height: 330px;
    width: 250px;
}

.left {
    width: 150px;
    position: relative;
    margin-bottom: 10px;
}

.right {
    text-align: center;
    margin-top: -20px;
}

.profile-image,
.profile-overlay {
    width: 100%;
    height: auto;
}

.profile-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.profile-name {
    position: relative;
    top: -190px;
}

.right p {
    margin: 0;
    line-height: 1.5em;
    opacity: .5;
}

.social-media-icons-profile {
    height: 20px;
    width: auto;
    margin: 15px 5px 5px 0;
}

section.data {
    padding: 100px 150px 0;
    max-width: 800px;
}

section.data h2 {
    float: right;
    position: relative;
    top: 150px;
    font-size: 3em;
}

.data-blocks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    justify-items: center;
    width: 430px;
}

div.data-block-2 {
    top: 30px;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s;
}

div.data-block-3 {
    top: 30px;
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -o-animation-delay: .4s;
    animation-delay: .4s;
}

div.data-block-4 {
    top: 60px;
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -o-animation-delay: .6s;
    animation-delay: .6s;
}

.data-block {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    background: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 20px 30px rgba(0, 0, 0, .2);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, .2);
    -webkit-animation: data-block 3.5s infinite;
    -o-animation: data-block 3.5s infinite;
    animation: data-block 3.5s infinite;
}

.data-icon {
    width: 25px;
    height: auto;
}

.data-number {
    font-family: 'gilroyextrabold', Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: #E34B1E;
    display: block;
    margin-top: 5px;
    line-height: 1em;
}

.data-block p {
    color: #E34B1E;
    opacity: .5;
    margin: 0;
    font-size: 1.3em;
    line-height: 1em;
}

@keyframes data-block {
    0% { transform:  translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}

footer {
    max-width: 1100px;
    height: 500px;
    padding: 100px 70px 0;
    margin: 0 auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    align-items: flex-end;
}

footer h2 {
    margin-bottom: 50px;
}
.gdpr-message {
    background:  whitesmoke;
    border: 2px solid #214DE3;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    width: 330px;
    margin-bottom: 10px;
    opacity: 0;
    position: absolute;
    margin-top: 25px;
    transform: translateY(10px);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

form:hover + .gdpr-message {
    opacity: 1;
    transform: translateY(0);
}


.gdpr-message p {
    text-align: left;
    width: 100%;
    line-height: 1.5em;
    color: #214DE3;
    padding: 0;
    margin: 0;
    font-size: .9em;
}

form {
    width: 45%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

form input::placeholder { opacity: .4; }
form input {
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    background: transparent;
    border: 2px solid #222;
    padding: 5px 10px;
    height: 45px;
    font-size: .8em;
    width: 70%;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
    color: #222222;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

form button {
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #222222;
    border: 2px solid #222222;
    padding: 5px 10px;
    height: 45px;
    width: 30%;
    background: transparent;
    position: relative;
    left: -2px;
    cursor: pointer;
    -webkit-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

form button:hover {
    background: rgba(33, 77, 227, .3);
}

footer p {
    float: right;
    width: 48%;
}

.social-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    justify-items: flex-end;
    bottom: 30px;
    width: 250px;
    margin-top: 40px;
}

.social-media-icon {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.social-media-icon:hover {
    transform: rotate(4deg) scale(1.1);
}

.desktop-footer-shape {
    background-image: url("../../assets/img/desktop-footer-shape.svg");
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    height: calc(1050px);
    width: 700px;
    z-index: -1;
}