.link-logo-container { text-decoration: none; }

.logo-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.logo-icon {
    width: 50px;
    height: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.logo-name {
    color: #E34B1E;
    font-weight: bold;
    letter-spacing: .03em;
    font-size: .9em;
    margin-left: 10px;
}